.player-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    padding: 10px;
  }
  
  .ion-card {
    text-align: center;
    border-radius: 10px;
  }
  
  .ion-card img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
  }
  
  .ion-fab-button {
    --background: #3880ff; /* Cambia el color según prefieras */
  }
  
  .ion-fab {
    bottom: 20px !important; /* Ajuste de posición */
    right: 20px;
  }
  
  .player-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1e1e1e;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    color: white;
  }
  
  .player-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 8px;
  }
  